// purple redwood theme
//
// purple is an example of a theme where the dominant color has been changed from redwood to purple.
//
// NOTE: The demo themes have not been designed to meet contrast ratio 
//       requirements and therefore may not be accessible.

// VARIABLES
// -----------------------------------------------------------------------------
$themeName:  purple;

// Image and font directories
$imageDir:               "../../../css/redwood/15.1.0/web/images/";
$commonImageDir:         "../../../css/redwood/15.1.0/common/images/";
$fontDir:                "../../../css/redwood/15.1.0/web/fonts/";
