:root {
  
  // Purple brand color
  --oj-palette-brand-rgb-10:	252, 248, 254;	
  --oj-palette-brand-rgb-20:	249, 242, 253;	
  --oj-palette-brand-rgb-30:	246, 236, 252;	
  --oj-palette-brand-rgb-40:	239, 219, 250;	
  --oj-palette-brand-rgb-50:	229, 196, 246;	
  --oj-palette-brand-rgb-60:	215, 165, 242;	
  --oj-palette-brand-rgb-70:	206, 145, 239;		
  --oj-palette-brand-rgb-80:	196, 123, 235;	
  --oj-palette-brand-rgb-90:	183, 94, 231;	
  --oj-palette-brand-rgb-100:	169, 64, 227;	
  --oj-palette-brand-rgb-110:	159, 40, 223;	
  --oj-palette-brand-rgb-120:	146, 35, 207;		
  --oj-palette-brand-rgb-130:	132, 32, 186;	
  --oj-palette-brand-rgb-140:	117, 28, 166;	
  --oj-palette-brand-rgb-150:	102, 24, 144;	
  --oj-palette-brand-rgb-160:	84, 20, 119;	
  --oj-palette-brand-rgb-170:	72, 17, 101;	
  
  // Purple neutral colors
  
  --oj-palette-neutral-rgb-0:    254, 254, 254;
  --oj-palette-neutral-rgb-10:   249, 249, 249;
  --oj-palette-neutral-rgb-20:   244, 244, 244;
  --oj-palette-neutral-rgb-30:   239, 239, 239;
  --oj-palette-neutral-rgb-40:   226, 226, 226;
  --oj-palette-neutral-rgb-50:   207, 207, 207;
  --oj-palette-neutral-rgb-60:   184, 184, 184;
  --oj-palette-neutral-rgb-70:   169, 169, 169;
  --oj-palette-neutral-rgb-80:   153, 153, 153;
  --oj-palette-neutral-rgb-90:   133, 133, 133;
  --oj-palette-neutral-rgb-100:  117, 117, 117;
  --oj-palette-neutral-rgb-110:  106, 106, 106;
  --oj-palette-neutral-rgb-120:  97, 97, 97;
  --oj-palette-neutral-rgb-130:  87, 87, 87;
  --oj-palette-neutral-rgb-140:  77, 77, 77;
  --oj-palette-neutral-rgb-150:  66, 66, 66;
  --oj-palette-neutral-rgb-160:  54, 54, 54;
  --oj-palette-neutral-rgb-170:  46, 46, 46;
  --oj-palette-neutral-rgb-180:  31, 31, 31;
  --oj-palette-neutral-rgb-190:  22, 22, 22;
  --oj-palette-neutral-rgb-200:  00, 00, 00;

}